#text {
    font-size: 20px;
}

header {
    background-color: lightblue;
}

.footer,
footer,
.col-sm-6 {
    margin-top: 20px;
}

Nav {
    text-align: center;
    font-size: 20px;
    border: solid black;
    background-color: lightblue;
}

body {
    background-color: lightblue;
}

#TopTitle {
    font-size: 25px;
    border-radius: 3px;
    margin-top: 100px;
    margin-left: 100px;
}

.card-img-top {
    width: 100%;
    height: 50vw;
    object-fit: cover;
}

@media screen and (max-width: 720px) {
    p {
        font-size: 25px;
    }
    footer {
        font-size: 15px;
    }
    #logo {
        display: none;
    }
    .img-fluid {
        width: 100%;
        height: auto;
    }
    #text {
        font-size: 25px;
        max-width: fit-content;
    }
    .card {
        width: 100%;
    }
    Nav {
        font-size: 18px;
    }
}